<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<body>
{#<nav class="navbar navbar-light bg-light">#}
{#    <div class="container-fluid">#}
{#        <img src="https://cdn-icons-png.flaticon.com/256/11207/11207604.png" alt="" width="30" height="30"#}
{#             class="d-inline-block align-text-top">#}
{#        {% if current_user.name|length > 1   %}#}
{#            <form class="d-flex ">#}
{#                <a href="/profile" class="btn btn-outline-primary px-2 mx-2 " role="button">{{ current_user.name }}</a>#}
{#                <a href="/logout" class="btn btn-outline-danger px-2 mx-2" role="button">Log Out</a>#}
{#            </form>#}
{#        {% endif %}#}
{##}
{#    </div>#}
{#</nav>#}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <svg width="159px" height="160px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg"
                 enable-background="new 0 0 48 48" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <g fill="#5900ff">
                        <polygon points="17.8,18.1 10.4,25.4 6.2,21.3 4,23.5 10.4,29.9 20,20.3"></polygon>
                        <polygon points="17.8,5.1 10.4,12.4 6.2,8.3 4,10.5 10.4,16.9 20,7.3"></polygon>
                        <polygon points="17.8,31.1 10.4,38.4 6.2,34.3 4,36.5 10.4,42.9 20,33.3"></polygon>
                    </g>
                    <g fill="#5900ff">
                        <rect x="24" y="22" width="20" height="4"></rect>
                        <rect x="24" y="9" width="20" height="4"></rect>
                        <rect x="24" y="35" width="20" height="4"></rect>
                    </g>
                </g>
            </svg>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item">
                View Source Code
            </a>
            <a class="navbar-item">
                Report an issue
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if current_user.name|length > 1 %}
                        <a class="button is-link" href="/profile">
                            {{ current_user.name }}
                        </a>
                        <a class="button is-link is-outlined" href="/logout">
                            Log out
                        </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</nav>

{% block body %}
{% endblock %}

<script>
    $(document).ready(function () {
        $(".navbar-burger").click(function () {
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");

        });
    });
</script>
</body>
</html>