{% extends 'base.html' %}


{% block title %}
    <title>Main Page</title>
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="notification is-{{ category }}" style="position: absolute; top: 90%; left: 10%; width: 80%;z-index: 5;">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container is-max-widescreen p-5">
        <div class="box ">
            <form action="/" method="post" class=" is-mobile is-centered is-vcentered" id="task_form">
                <div class="field has-addons">
                    <div class="control has-icons-left has-icons-right is-expanded">
                        <input type="text" name="task" class="input is-link" placeholder="Leave your ideas here...">
                        <span class="icon is-medium is-left">
                            <i class="fa-regular fa-lightbulb"></i>
                        </span>
                    </div>
                    <p class="control">
                        <a class="button submit is-link"> Add Task</a>
                    </p>
                </div>

            </form>
        </div>
    </div>

    <div class="container is-max-widescreen px-4 ">
        {% for task in tasks_list %}
            <div class="box p-4 m-4">
                <div class="columns is-mobile is-flex is-vcentered">
                    <div class="column is-two-fifth ">{{ task.date_added.strftime("%b %d, %H:%M") }}</div>
                    <div class="column is-two-fifths ">{{ task.text }}</div>
                    <div class="column is-one-fifth fit-">
                        <a href="/mark_done/{{ task.id }}" class="button is-link is-centered done-button">
                        <span class="icon temp">
                            <i class="fa-regular fa-square-check"></i>
                        </span>
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
            integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("a.submit").click(function () {
                document.getElementById("task_form").submit();
            });
        });
        $(window).on("resize", function () {
            if ($(window).width() < 960) {
                $(".done-text").remove()
            } else {
                if ($('.done-text').length < 1) {
                    $('.done-button').each(function () {
                        $(this).append('<p class="done-text">Mark as done</p>');
                    });
                }

            }
        });
        $(window).resize();
    </script>


{% endblock %}