{% extends 'base.html' %}

{% block title %}
    <title> Register</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Toastr -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}

{% block body %}
    <div class="px-4  h-100 px-md-5  text-center align-content-center" style="">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-link" style="position: absolute; top: 10%; left:25%; width: 50%; z-index: 5;">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="container columns is-flex is-fullheight is-vcentered" style="height:90vh;">

            <div class="container my-5 is-max-widescreen p-5">
                <div class="columns is-vcentered box">
                    <div class="column is-half  is-flex is-vcentered">
                        <div class="container has-text-centered is-size-1 is-family-sans-serif  ">
                            <h1 class="has-text-weight-bold">The best place </h1>
                            <h1 class="has-text-weight-bold has-text-link">for your tasks </h1>
                        </div>

                    </div>
                    <div class="column  is-half">
                        <form method="post" action="/register">
                            <h1 class="has-text-weight-bold has-text-centered is-size-2 is-family-sans-serif">
                                Register </h1>
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input " type="text" name="username" placeholder="Username">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>

                                </div>
                                <p class="help ">Username should be 6-20 symbols long</p>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <p class="control has-icons-left">
                                    <input class="input" name="password" type="password" placeholder="Password">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                </p>
                                <p class="help ">Password should be 6-20 symbols long</p>
                            </div>

                            <div class="field">
                                <label class="label">Repeat your password</label>
                                <p class="control has-icons-left">
                                    <input class="input" name="repeat_password" type="password"
                                           placeholder="Repeat your password">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                                </p>
                                <p class="help ">Password should be 6-20 symbols long</p>
                            </div>

                            <div class="field">
                                <div class="control is-grouped">
                                    <button class="button is-link" type="submit">Register</button>
                                    <a class="button is-link is-outlined" href="/login">I have an account!</a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>

{% endblock %}